@page
@model NapocaBike.Pages.BikeRentalLocations.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Bike Rentals</title>
    <link rel="stylesheet" href="~/css/crudStyle.css">
</head>


<h1>Edit Bike Rental Location</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BikeRentalLocation.Id" />
            <div class="form-group">
                <label asp-for="BikeRentalLocation.Name" class="control-label"></label>
                <input asp-for="BikeRentalLocation.Name" class="form-control" />
                <span asp-validation-for="BikeRentalLocation.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BikeRentalLocation.EmptySpaces" class="control-label"></label>
                <input asp-for="BikeRentalLocation.EmptySpaces" class="form-control" />
                <span asp-validation-for="BikeRentalLocation.EmptySpaces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BikeRentalLocation.BikesAvailable" class="control-label"></label>
                <input asp-for="BikeRentalLocation.BikesAvailable" class="form-control" />
                <span asp-validation-for="BikeRentalLocation.BikesAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BikeRentalLocation.Adress" class="control-label"></label>
                <input asp-for="BikeRentalLocation.Adress" class="form-control" />
                <span asp-validation-for="BikeRentalLocation.Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
