@page
@model NapocaBike.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f4f4f4;
            color: #333;
        }

        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }

        h1 {
            color: #4a4e69;
            text-align: center;
            font-weight: 700;
            margin-bottom: 2rem;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 1rem;
            border: 1px solid #ddd;
        }

        th {
            background-color: #4a4e69;
            color: #fff;
        }

        a {
            color: #C28E1E;
            text-decoration: none;
            font-weight: 600;
        }

            a:hover {
                color: #D9AF32;
            }

        .btn-create {
            display: inline-block;
            background-color: #4a4e69;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            margin-bottom: 1rem;
            text-align: center;
        }

            .btn-create:hover {
                background-color: #D9AF32;
            }

    </style>
</head>

<body>
    <div class="container">
        <h1>Locations Categories</h1>
        <a asp-page="Create" class="btn-create">Create New</a>
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Category[0].CategoryName)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Category)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
