@page
@model NapocaBike.Pages.Reviews.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Display only fields for Member ID and Member Name -->
            <div class="form-group">
                <label for="memberId">Member ID:</label>
                <input id="memberId" class="form-control" value="@Model.Review.MemberID" disabled />
            </div>

            <div class="form-group">
                <label for="memberName">Member Name:</label>
                <input id="memberName" class="form-control" value="@Model.Review.MemberName" disabled />
            </div>

            <!-- Display only field for Location ID -->
            <div class="form-group">
                <label for="locationId">Location ID:</label>
                <input id="locationId" class="form-control" value="@Model.Review.LocationID" disabled />
            </div>

            <!-- Hidden input field for LocationID -->
            <input type="hidden" asp-for="Review.LocationID" />

            <div class="form-group">
                <label asp-for="Review.Message" class="control-label"></label>
                <input asp-for="Review.Message" class="form-control" />
                <span asp-validation-for="Review.Message" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
