@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url(/Icons/landscape.jpg) no-repeat center center fixed;
    background-size: cover;
}


section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header .logo {
        color: #C28E1E;
        position: relative;
        font-size: 30px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
    }

    header .navigation {
        display: flex;
        align-items: center;
    }

        header .navigation a {
            display: flex;
            align-items: center;
            color: #000;
            text-decoration: none;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 2px 15px;
            border-radius: 20px;
            transition: 0.3s;
            transition-property: background;
        }



header .navigation a:not(:last-child) {
    margin-right: 30px;
}

header .navigation a:hover {
    background: #D9AF32;
}



label {
    display: none;
}

#check {
    z-index: 3;
    display: none;
}

@media (max-width: 960px) {
    header .navigation {
        display: none;
    }

    header .login-container {
        top: 15px;
        right: 15px;
    }

    label {
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }

        label:hover {
            color: #fff;
        }

        label .close-btn {
            display: none;
        }

    #check:checked ~ header .navigation {
        z-index: 2;
        position: fixed;
        background: #8EA3BF;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        #check:checked ~ header .navigation a {
            font-weight: 700;
            margin-right: 0;
            margin-bottom: 50px;
            letter-spacing: 2px;
        }

    #check:checked ~ header label .menu-btn {
        display: none;
    }

    #check:checked ~ header label .close-btn {
        z-index: 2;
        display: block;
        position: fixed;
    }

    label .menu-btn {
        position: absolute;
    }

    header .logo {
        position: absolute;
        left: 15px;
        bottom: -6px;
    }



    @media(max-width:560px) {
        .content .info h2 {
            font-size: 35px;
            line-height: 50px;
        }

            .content .info h2 span {
                font-size: 30px;
                font-weight: 600;
            }

        .content .info p {
            font-size: 14px;
        }
    }
}
