@page
@model NapocaBike.Pages.BikeParkings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BikeParking</h4>
<div id="map" style="height: 400px;"></div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BikeParking.ID" />
            <div class="form-group">
                <label asp-for="BikeParking.Name" class="control-label"></label>
                <input asp-for="BikeParking.Name" class="form-control" />
                <span asp-validation-for="BikeParking.Name" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="BikeParking.Latitude" class="control-label"></label>
                <input asp-for="BikeParking.Latitude" id="Latitude" class="form-control" />
                <span asp-validation-for="BikeParking.Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BikeParking.Longitude" class="control-label"></label>
                <input asp-for="BikeParking.Longitude" id="Longitude" class="form-control" />
                <span asp-validation-for="BikeParking.Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BikeParking.Capacity" class="control-label"></label>
                <input asp-for="BikeParking.Capacity" class="form-control" />
                <span asp-validation-for="BikeParking.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BikeParking.SecurityLevel" class="control-label"></label>
                <input asp-for="BikeParking.SecurityLevel" class="form-control" />
                <span asp-validation-for="BikeParking.SecurityLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: @Model.BikeParking.Latitude, lng: @Model.BikeParking.Longitude },
                zoom: 12,
            });
            var marker = new google.maps.Marker({
                position: { lat: @Model.BikeParking.Latitude, lng: @Model.BikeParking.Longitude },
                map: map,
                draggable: true,
            });
            marker.addListener("dragend", function () {
                var lat = marker.getPosition().lat();
                var lng = marker.getPosition().lng();
                document.getElementById("Latitude").value = lat;
                document.getElementById("Longitude").value = lng;
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzHZqkegdjz_xvNtEuYReEdgrPi1PFmbk&callback=initMap&v=weekly" async defer></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
